/*
	Last update: 13/05/2018
*/

/* Hide everything */
a.ytp-videowall-still.ytp-suggestion-set { visibility: hidden !important; }
div#related{ display: none !important; } /*    <--- PURE EVIL RIGHT HERE */
div#contents { visibility: hidden !important; }

/* But show videos in channels + search results */
ytd-browse.style-scope.ytd-page-manager[page-subtype="channels"] div#contents ,
div#container.ytd-search div#contents { visibility: visible !important; }

/* Hide ads (can also be distracting) */
iframe#ad-iframe{ visibility: hidden !important; }

/* Hide scroll at the end of video players */
button.ytp-button.ytp-endscreen-previous,
button.ytp-button.ytp-endscreen-next{display: none;}

/* Notifications, also bad */
ytd-notification-topbar-button-renderer.notification-button-style-type-default { visibility: hidden !important; }

/* The "Next" Button in the video player, is also an evil distraction */
a.ytp-next-button.ytp-button { visibility: hidden !important; }

/* Beautify things a bit */
ytd-comments#comments{width: auto !important;}
/* #main.ytd-watch, #top.ytd-watch { width: auto !important; } */ /* Uncomment this to center video player */

/* Remove comments section (just as bad of a distraction) */
ytd-comments#comments { display: none !important; }
